rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Operator can read and write everything
    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}